*{
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  caret-color: transparent;
}

button{
  background: none;
  border: none;
  outline: none;
}
li{
  list-style: none;
}


.app_body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #11081F;
  width: 100vw;
  height: 100vh;
}

.app_container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.app_list{
  display: flex;
  justify-content: center;
  align-items: center;
}

.app_list li{
  padding: 10px;
}

a{
  text-decoration: none;
}